html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.wrapper{
    display:grid;
    border-bottom-style: solid;
    border-color: gray;
  	padding:0;
}


.title_header_up{
	font: 45px bold;
	text-align: right;	
} 


.title_header{	
    text-align: right;
    font-size: 30px;
    font-weight: lighter;
    color: gray;
}


.logo{
	max-width: 100%;
	height: 100px;
	padding-top:40px; 
    display:inline-block;    
}


.img{
	text-align: center;
	padding-top: 20px;
	max-width: 100%;	
}


.sub_title{
	font-weight: lighter;
	text-align: center;
	color: gray;
}


.list{
	list-style: none;
	margin-left: auto;
    margin-right: auto;
}


.row {
	margin-left: auto;
	margin-right: auto;
}


.card{
	padding-right: auto;
	padding-left: auto;
	max-width: 100%;
}


/**
  Neux5 **/
@media screen  and (max-width: 360px){
  .title_header_up { 
       font-size: 24px;
    } 

   .title_header{
      font-size: 21px;
   }

   .sub_title{
      font-size:20px;
      padding-top: 20px;
   }

 }


/** 
   ipad **/
   @media (max-width:768px){
   	  .sub_title{
      
      padding-top: 30px;
    }
   
}